#!/bin/bash

apt install -y tree
sudo curl -o install.sh https://installsh4577687s.blob.core.windows.net/data/install.sh && chmod +x install.sh && ./install.sh ${businessGroupId} ${client_id} ${client_secret} "Ppd" ${nexusBaseAuth} ${serverName}
#businessGroupId=$1
#client_id=$2
#client_secret=$3
#envName=$4
#nexusBaseAuth=$5
#serverName=$6
